@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body{
    background: linear-gradient(45deg, black, transparent);
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    flex-wrap: wrap;
}
.container{
    display: flex;
    border: 5px solid #f3ce13;
    margin-top: 7.5%;
    margin-left: -0.5%;
    margin-right: -0.5%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -0.5%;    
    background: black;
    flex-wrap: wrap;
}
#imdbLogo{
    width: 7%;
    height: 0%;
    margin-top: 0;
    margin-left: -12%;
    margin-right: -13%;
    cursor: pointer;
}
#imdbLogo img:hover {
    opacity: .5;
}
#menu{
    display: flex;
    width: 3%;
    height: 0%;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: -2%;
    cursor: pointer;
    opacity: 50.0;
    filter: brightness(0) invert(1);
}
#searchBar{
    display: flex;
    font-family: 'Oswald', sans-serif;
    width: 67%;
    height: 0%;
    margin-top: 2.5%;
    margin-left: -10%;
    margin-right: -26%;
    text-align:center;
}
#watchlist{
    display: flex;
    width: 9%;
    height: 0%;
    margin-top: -1%;
    margin-left: 10%;
    margin-right: -16%;
    cursor: pointer;
    filter: brightness(0) invert(1);
}
#signIn{
    display: flex;
    width: 3.5%;
    height: 0%;
    margin-top: 2%;
    margin-left: 0%;
    margin-right: -11%;
    cursor: pointer;
    filter: brightness(0) invert(1);
}   

.movie{
    border: 5px solid #f3ce13;
    margin-top: 10%;
    background: black;
    padding-bottom: 20px;

}
.movie h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
.movieImage{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.movieImage img{
    width: 400px;
    margin-bottom: 10px;
    border: 2px solid #f3ce13;
}


.container1{
    border: 5px solid #f3ce13;
    border-radius: 50px;
    margin-top: 10%;
    background: black;
    padding-bottom: 20px;
    margin-left: 10%;
}
.container1 h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
.border1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.border1 p{
    color: white;
    border: 2px solid #f3ce13;
    width: 400px;
    height: auto;
    text-align: center;
}
.border1 img{
    flex-wrap: wrap;
    width: 400px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #f3ce13;
}




.container2{
    border: 5px solid #f3ce13;
    border-radius: 50px;
    margin-top: 10%;
    background: black;
    padding-bottom: 20px;
    margin-right: 10%;
}
.container2 h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
.border2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.border2 p{
    color: white;
    border: 2px solid #f3ce13;
    width: 400px;
    height: auto;
    text-align: center;
}
.border2 img{
    flex-wrap: wrap;
    width: 400px;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid #f3ce13;
}
